@media only screen and (min-width: 601px) {

    header {
        justify-content: center;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block !important;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    .card img {
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .card img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }

    .grid-view {
        display: grid;
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card8";
        gap: 15px;
    }

    .grid-view article:nth-child(1) {
        grid-area: card1;
    }

    .grid-view article:nth-child(2) {
        grid-area: card2;
    }

    .grid-view article:nth-child(3) {
        grid-area: card3;
    }

    .grid-view article:nth-child(4) {
        grid-area: card4;
    }

    .grid-view article:nth-child(5) {
        grid-area: card5;
    }

    .grid-view article:nth-child(6) {
        grid-area: card6;
    }

    .grid-view article:nth-child(7) {
        grid-area: card7;
    }

    .grid-view article:nth-child(8) {
        grid-area: card8;
    }
}