/* large.css */
@media (min-width: 768px) {
    .nav-list {
        flex-direction: row;
    }

    #membersContainer.grid-view {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #membersContainer.grid-view .member-card {
        flex: 1 1 calc(33% - 1rem);
        border: 1px solid #ccc;
        padding: 1rem;
        background-color: #fff;
        border-radius: 8px;
    }
}

#membersContainer.grid-view .member-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#membersContainer.list-view .member-card img {
    display: none;
}
