@media only screen and (min-width: 608px) {


   

    header {
        grid-template-columns: 24 auto;
    }

    .hambuger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        border-left: solid 1px #ddd;
    }

    .navigation a {
        border: none;
    }




}