* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0px 5px 10px;
    border-bottom: solid rgb(167, 166, 166) 1px;
    column-gap: 30px;
    align-items: end;
}

header img {
    display: block;
}

header span {
    font-size: x-large;
    color: #534848;
}

/*****************  HAMBUGER  ***************************/
.hambuger {
    background: none;
    border: none;
    color: #534848;
    cursor: pointer;
}

.hambuger::before {
    content: "\2630";
    font-size: x-large;
}

.hambuger.show::before {
    content: "\00d7";
    font-size: x-large;
}

/*******************  NAVIGATION  **********************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: .8rem 10px;
    color: #3a3434;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #c4c4c4;
}

.navigation a:hover {
    background-color: #ffa600;
}




h1 {
    margin-left: 10px;
}


footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social{
display: flex;
justify-content: center;
column-gap: 8px;
}
.social a{
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
border: dotted red 1px;
}
.social img{
    width: 22px;
    height: 22px;
}