* {
    font-family: "Roboto", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 22px auto 44px;
    padding: 5px 0px 5px 10px;
    column-gap: 22px;
    align-items: end;
    border-bottom: solid 1px #aca3a3;
}

header img {
    height: 42px;
    width: 42px
}

header span {
    font-size: x-large;
    color: #332f2f;

}

/**************** HAMBUGER *****************/
.hambuger {
    border: none;
    background: none;
    cursor: pointer;
}

.hambuger:hover {
    background-color: #aca3a3;
    border-radius: 4px;
}

.hambuger::before {
    content: "\2630";
    font-size: x-large;
}

.hambuger.show::before {
    content: "\00d7";
    font-size: x-large;
}

/**************** NAVIGATION *****************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: .8rem 10px;
    color: #3a3434;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #b6b2b2;
}

.navigation a:hover {
    background-color: #ffa600;
}

/**************** BODY *****************/
body {
    display: grid;
}

section {
    display: block;
    padding: .8rem 10px;
    gap: 10px;
}

h1 {
    padding: 10px;
    color: #332f2f;
}

h2 {
    text-align: center;
    background-color: #aca3a3;
}



/**************** FOOTER *****************/
footer {
    display: block;
    text-align: center;
}

.social a img {
    background-color: #e0dada;
    padding: 10px;
    width: 22px;
    border-radius: 10px;
}

.social a img:hover {
    background-color: #c9c4c4;
}



/**************** WEB CERTIFICATE SECTION *****************/
.web-cert-courses {
    margin-top: 2rem;
}

.web-cert-courses h2 {
    background: #222;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

/* FILTER BUTTONS */

.course-filters {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.course-filters button {
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    border: 1px solid #444;
    background: #ddd;
    font-weight: bold;
    cursor: pointer;
}

.course-filters button:hover {
    background: #bbb;
}

/* COURSE LIST */

#courses {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.course-card {
    background: #cfcfcf;
    border: 1px solid #999;
    text-align: center;
    padding: 0.4rem;
    font-weight: bold;
}

/* COMPLETED COURSE */

.completed {
    background: #444;
    color: white;
}

/* TOTAL CREDITS */

.credits {
    text-align: center;
    margin-top: 1rem;
}